body {
  background-color: #adefd1ff;
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: #00203fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.navbar ul {
  padding: 2rem 2rem;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar ul li:hover {
  cursor: pointer;
  padding: 2rem 2rem;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #0088a9;
}

.navbar ul li {
  display: inline;
  list-style-type: none;
  padding: 2rem 1.5rem;
  transition: all 0.4s ease 0s;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 2rem 1.5rem;
  margin: 0px;
  font-family: "Georgia", Times New Roman, Times, serif;
}

div {
  display: flex;
}

.textbox {
  background-color: #00203fff;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  width: 30%;
  padding: 2rem;
  margin-inline: 10%;
  height: fit-content;
  align-content: center;
  display: flex;
}

img {
  float: right;
  width: 50%;
  height: fit-content;
}

.mediaClass {
  align-items: center;
}

p {
  font-size: 1.25rem;
}

footer {
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: #00203fff;
  color: white;
  font: 'Times New Roman';
  justify-content: center;
  align-items: center;
}

.support {
  background-color: #00203fff;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  padding: 2rem;
  margin: 10%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.supportImage {
  display: flex;
  justify-content: center;
  float: none;
  width: 100%;
}

header .background-img {
  background-image: url(/Photos/background-image.jpeg);
  background-color: white;
  background-size: 100rem;
  width: 100%;
  height: 55rem;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
}

.background-img h1 {
  position: relative;
  bottom: 3rem;
}

@media only screen and (max-width:1100px) {
  .mediaClass {
    flex-direction: column;
    justify-content: center;
  }

  img {
    float: none;
    width: 100%;
  }

  .textbox {
    width: fit-content;
    margin: 10%;
  }

  .navbar ul li {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .navbar ul li:hover {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .navbar ul li a {
    font-size: 0.9rem;
  }

  header .background-img {
    height: 20rem;
  }

  header .background-img h1 {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: black;
  }
}
