body {
  background-color: #ADEFD1FF;
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: #00203FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  padding: 2rem 2rem;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar ul li:hover {
  cursor: pointer;
  padding: 2rem 1.5rem;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #0088a9;
  transition: all 0.4s ease 0s;
}

.navbar ul li {
  display: inline;
  list-style-type: none;
  padding: 2rem 1.5rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  padding: 2rem 1.5rem;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar ul li a.active {
  background-color: #0088a9;
}
  
